
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    margin:0;
}

main{
    display: block;
}

h1{
    font-size: 2em;
    margin:0.67em 0;
}
hr {
    box-sizing:content-box;
    height: 0;
    overflow: visible;
}
pre{
    font-family: monospace, monospace;
    font-size: 1em;
}
a{
    background-color: transparent;
}
abbr[title]{
     border-bottom: none;
     text-decoration: underline;
     text-decoration: underline dotted;
}
b, 
strong{
    font-weight: bolder;
}
code, 
kbd, 
samp{
    font-family: monospace, monospace;
    font-size: 1em;
}
small{
    font-size:80%;
}
sub, 
sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub{
    bottom: -0.25em;
}

sup{
    top: -0.5em;
}

img {
    border-style: none;
}

button, 
input,
optgroup,
select,
testarea{
    font-family:inherit;
    font: 100%;
    line-height: 1.15%;
    margin:0;
}

button,
input{
    overflow: visible;
}
button,
select{
    text-transform: none;
}

button, 
[type='button']
[type= 'reset']
[type='submit']{
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted Buttontext;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button{
    height:auto
 }
 [type="search"]{
    -webkit-appearance: textfield;
    outline-offset: -2px;

 }
 
 [type="search"]::-webkit-search-decoration{
    -webkit-appaerance:none;
 }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

details{
    display: block;
}

summary{
    display: list-item;
}

template{
    display: none;
}

[hidden]{
    display: none;
}

:root{
     /*Measurements */
    --wpdevs-big-paddng: 60px 0;
    --wpdevs-mobile-padding:20px 0;
    --wpdevs-linght-padding: 0 25px;
     /*Colors*/
    --wpdevs-gray1: #7c7c7c;
    --wpdevs-gray2: #f7f7f7;
    --wpdevs-gray3: #ddd;
    --wpdevs-light-blue: #2a92d3;
    --wpdevs-deep-blue:#213c4d;
    --wpdevs-black-blue: #001e32;
    --wpdevs-yellow:#cfaf07;
}
*, 
::after,
::before{
    box-sizing:border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font: normal, 21px/2.1rem, "Poppins", sans-serif;
}
h1{
    font-size:66px;
    line-height: 70px
}
h2{
    font-size: 40px;
    line-height: 4.0px;
    font-weight: bold;
}
h3{
    font-size: 36px;
    line-height: 3.6px;
    font-weight: bold;
}


h4{
    font-size: 28px;
    line-height: 2.8px;
    font-weight: bold;
}

h4{
    font-size: 22px;
    line-height: 2.2px;
    font-weight: bold;
}
p{
    font-size:15px;
    line-height: 1.7rem;
}
a{
    color: var(--wpdevs-gray1);
    text-decoration: none;
}
a:hover,
a:visited{
    color: #6d6d6d;
}
img{
    max-width:100%;
    height:auto;
}
.container{
    width:100%;
    margin-right: auto;
    margin-left:auto;
}
@media (max-width: 575px){
    .container{
        padding: var(--wpdevs-linght-padding);
    }
}
@media (max-width: 575px){
    .container{
        max-width:540px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px){
            .container{
                max-width: 720px;
     }
}

@media (min-width: 992px){
            .container{
                max-width: 960px;
     }
}
@media (min-width: 1200px){
            .container{
                max-width: 1140px;
     }
}

/*############### Home Page ########################/

/*Top Bar section*/
.top-bar{
    background-color: #ffff;
    color:blue;
    padding:0%15px
}
.top-bar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.searchbox input[type="text"]{
    padding: 7px 10px;
    border: 1px solid #c6c6c6;
}
.searchbox input[type="sumit"]{
    padding: 9px 10px;
    background: #000000;
    color: #fff;
    border: none;
}

@media (max-width: 768px){
    .searchbox{
        display: none;
    }
    .top-bar .container{
        justify-content: center;
    }
}


    /*############# Main Menu */

    .menu-area {
        background: var(--wpdevs-gray2);
    }
    .main-menu{
        height: 55px;
        display: flex;
        justify-content: center;
    }
    .main-menu ul {
        margin: 0;
        padding-left: 0;   
    }
    .main-menu ul li{
        display: inline-block;
        line-height: 55px;
        position: relative;
    }
    .main-menu ul li.current_pages_item> a{
        font-weight: bold;  
    }
    .main-menu ul li a {
        color:#0000;
        padding: 0 30px;
        text-decoration: none;
        display: block ;
    }
    .main-menu ul li a:hover, 
    .main-menu ul li a:active 
    {
       color: var(--wpdevs-gray1);
       transition: .5s all;
    }
    .main-menu ul li a:focus + ul 
    {
       display: block;
    }
    .main-menu li.menu-item-has-children::after{
       content:"";
       position: absolute;    
       bottom: 0;
       left: calc( 50% 6 6px);
       width: 0px;
       height: 0px;
       border-top:6px solid  transparent;
       border-right: 6px solid transparent;
       border-bottom: 6px solid #000000;
       border-left: 6px solid transparent;
    }
    .main-menu ul.sub-menu{
        position: absolute;
        padding-left: 0;
        background-color: #0000;
        z-index: 1;
        text-align: left;
        display: none;
}
.main-menu ul .menu-item-has-children:hover>ul,
.main-menu ul .menu-item-has-children:focus+ul{
        display: block
}
.main-menu ul.sub-menu li{
       width: max-content;
}
.main-menu ul.sub-menu a {
       color: #fff;
}
.menu-icon, 
.chek_button {
    cursor: pointer;
    display: none;
}

.menu-icon .bar1, 
.menu-icon .bar2, 
.menu-icon .bar3{
       width: 28px;
       height: 3px;
       background-color: #333;
       margin: 5px 0;
       transition: 0.4s;
}
@media (max-width: 767px){
    .menu-icon,
    .chech-button{
        display: block;
    }
    .check-button{
        border: none;
        background: transparent;
        height: 55px;
    }
    .main-menu ul{
        position: absolute;
        width: 100%;
        background: #000000;
        left: -999px;
        text-align: left;
        transition: all cubic-bezier(.79,.14,.15,.86) .5s;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    .main-menu ul:not(.sub-menu){
        margin-top: 55px;
    }  
    .main-menu ul li{
        display: block;
        margin: 15px 0;
        line-height:30px;
    }
    .main-menu il li a{
        color: #ffff;
    }
    .main-menu ul.sub-menu{
        position: relative;
        top: 0;
        margin-left: 30px;
        display: black;
        width: auto;
    }
    }
    .main-menu ul.sub-menu a{
        color: var(--wpdevs-gray1);
    }

    .show-dropdown{
        left: 0 !important;
    }
    .animate-button .bar1{
        -webkit-transform: rotate(-45deg) translate(-4px,4px);
        transform:rotate(-45deg) translate(-45px, 4px);
    }
    .animate-button .bar2{opacity: 0;}
    .animate-button .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

/* Hero */
.hero{
    background-size:cover;
    background-position: center center;
    color: #ffff;
    text-align: center;
}
.hero-items{
    padding: var(--wpdevs-light-padding);
}
.hero .overlay{
    background: rgb( 0 0 0 /27% );
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-items h1{
    margin-top: 0;
    font-weight: normal;    
}
.hero .hero-items a{
    color: #ffff;
    padding: 15px 25px;
    display: inline-block;
    background: var(--wpdevs-light-blue);
    margin: 20px 0 0;
}
.hero .hero-items a:hover{
    background: var(--wpdevs-yellow);
    transition: .5s all;
}
/* Services */
.services{
    background: var(--wpdevs-deep-blue);
    padding: var(--wpdevs_big-padding);
    color: #ffff
}
.services .conteiner{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.services .conteainer > * {
    flex: 1 1 250px;
}
.services-item{
    padding: var(--wpdevs-light-paddding);
}
.services-item p{
    margin-bottom: 40px
}
.services-ite, figure{
    background: var(--wpdevs-black-blue);
    padding: 15px;
}
.services h2::after{
    content: '';
    position: absolute;
    background-color: var(--wpdevs-light-blue);
    width: 35px;
    height: 5px;
    right: calc(50% -15px);
}
.services h4{
    margin: 0;
}
@media (max-width: 768px) {
    .services .container{
        flex-direction: column;
        padding: 0;
        }
    .services-item{
        max-width: 100%;
    }
}

/*Home Blog*/

.home .home-blog{
    padding: var(--wpdevs-big-padding);
}
.home-blog .container article:first-child{
    grid-area: feat-item;
}
.home-blog .container{
    display: grid;
    grid-template-areas: 'feat-item';
    grid-gap: 25px;
}
.home .home-blog h2{
    text-align: center;
    position: relative;
}
.home .home-blog h2::after{
    content:'';
    position: absolute;
    background-color: var(--wpdevs-light-blue);
    width: 35px;
    height: 5px;
    right: calc(50% -15px);
    bottom: 0;
}
.home .home-blog .latest-news{
    text-align:center;
}
.home .home-blog .latest-news{
    margin-bottom: 40px;
}
.home .home-blog .latest-news img{
    float: none !important;
    margin: 0 0 25px 0 !important;
}
.home .home-blog .latest-news h3{
    color: #0000;
    margin: 0;
    line-height: 2.6rem;
}
.home .home-blog .meta-info p{
    font-weight: bold;
    margin-bottom: 0;
}
.home .home-blog .meta-info p:last-child{
    margin-top: 5px;
}
.home .home-blog span, 
.home .home-blog span a{
    color: var(--wpdevs-gray1);
    font-weight: normal;
    text-decoration: none;
    margin: 0 2px 0 0;
}
@media (max-width: 768px){
    .home-blog .container{
        display: block;
    }
}
/* footer*/


footer{
    background: var(--wpdevs-deep-blue);
    padding: 15 px  0;
    color: #fff;
}
footer .container .row{
    align-items: center;
}
/* footer -footer menua*/
 .site-footer  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .site-footer .copyright p{
    margin: 0
 }
 .footer-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
 }
 .footer-menu ul li{
    display: inline;
    margin: 0 15px 0 0;
 }
 .footer-menu ul li:last-child{
    margin: 0;
 }
 .footer-menu ul li a {
    text-decoration: none;
    color: #ffff;
 }
 .footer-menu ul li.currnt_page_item a{
    font-weight: bold;
 }
 @media (max-width:768px) {
    .site-footer .container{
        justify-content:safe;
    }
 }
 @media (max-width: 575px) {
    .site-footer .continer{
        flex-wrap:wrap;
    }
 }



 /* innre pages/*




 /* blog, archive, snarch*/

 .blog main .container, 
 .archive main .container{
    display: flex;
 }
 log main .container, 
 .archive main .archive-items{
    padding: 0 15px 0 0;
    flex: 1;
 }
 .blog .blog-items h2,
 .archive .blog-items h2{
    margin-top: 0;
 }
 .blog article{
    margin-bottom: 20px
 }
 .blog .blog-items h2,
 .blog .blog-items h2{
    margin-top: 0;
 }
 .blog article{
    margin-bottom: 20px;
 }
 .blog aside,
 .archive aside{
    padding: 225px;
    background: var(--wpdevs-gray2);
    height: 100%;
    width: 30%;
 }
 @media screen and (max-width: 991px) {
    .blog aside,
    .archive aside,
    .blog .blog-items,
    .archive .archive-items{
        min-width: 100%;
    }
}
.blog h1
.archive h1{
    text-align: center;
    margin-top: 0;
}
.archive-description{
    text-align: center;
    max-width: 50%;
    margin: 0 auto 3px auto;
}
.archive-description p{
    font-size: 85%;
}
.home #primary > #main{
    padding: 0;
}
#primary > #main{
    padding: var(--wpdevs-mobile-padding);
}
@media screen and (max-width: 991px) {
    #primary > #main{
        padding: var(--wpdevs-big-padding);
    }
}
.meta-info p{
    margin: 0;
}
.wp-post-image{
    float: left;
    margin: 0 15px 15px 0;
}
@media screen and (max-width: 550px){
    .wp-post-image{
        width: 100;
    }
}
article {
    display: inline-block;
    width: 100%;
}
article.post h1,
.serch h1, 
.archive h1{
    font-size: 50px;
    line-height: 4.0rem;
    margin-bottom: 15px;
}
article.post h2{
    line-height: 3rem;
    text-transform: none;
}
article h2{
    line-height: 3rem;
    margin-bottom: 10 px;
    text-transform: none;
}
article.post h3,
article.post h4,
article.post h5{
    margin-bottom: 0;
}
.searchform input[type= "text"]{
    padding: 7px 10px;
    border: 1px solid#c6c6c6
}
.searchform input[type= "sumit"]{
    padding: 11px 10px;
    background: #000000;
    color: #ffff;
    border:none;
}
.searchform dev{
    display: flex;
}
.searchform input[type=text]{
    max-width: 70%;
}
.searchform input[type=sumit]{
    max-width: 70%;
}
@media (max-width: 991px){
    .blog .container,
    .archive .container{
        flex-wrap: wrap;
    }
}
/* Comentise*/

#commentform input[type="sumit"]{
    color:#fff;
    padding: 15px 25px;
    display:inline-block;
    background: var(--wpdevs-light-blue);
    margin:20px 0 0;
    border:none;
}
#commentform input[type="sumit"]:hover{
    background: var(--wpdevs-yellow);
    transition: .5s all;
}
#commentform label{
    display: block;
}
#commentform label [for="wp-comment-cookies-consent"]{
    display: inline;
    margin-left: 5px;
}
#commentform input[type="text"]
#commentform textarea{
    padding: 7px 10px;
    border: 1px solid #c6c6c6;
    width: 100%;
}
.comments-area #repy-title{
    border-top: 1px solid #ebebeb;
    padding: 20px 0 0;
}
 

/*Paginnation */
.wpdevs-pagination{
    display: flex;
    justify-content: space-between;

}
.pages{
    margin-top: 20px;
}
.navs-liks .page-numbers{
    padding: 10px 15px;
    display: inline-block;
    background: var(--wpdevs-gray3);
}
.nav-links .current{
    background-color: #000;
    color: #ffff;
}
.nav-links .next,
.nav-links .prev{
    background-color: transparent;
}
.nav-links .prev{
    padding-left: 0;
}